@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Header */

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.8em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

#logo {
    width: 7em;
}

.icons img {
    width: 1.75em;
}

.search {
    background: rgb(243, 243, 243);
    font-size: 18px;
    padding: 0.5em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-radius: 0.3em;
}
.search span {
    opacity: 0.5;
    transform: rotate(180deg) scaleX(-1);
    font-size: 20px;
}

input {
    all: unset;
}

.icons{
    display: flex;
    gap: 1em;
    align-items: center;
}

#avatar {
    width: 2em;
    padding: 0.05em;
    border: 1px solid black;
    border-radius: 100%;
}

#profile_desc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    margin: 2em 0;
}

.name_row {
    display: flex;
    gap: 1em;
    align-items: center;
}

.name_row h1 {
    font-weight: 500;
    font-size: 36px;
}

.name_row button {
    all: unset;
    padding: 0.25em;
    border: 1px solid gray;
    border-radius: 0.1em;
}

.name_row img {
    width: 1.75em;
}

#dp {
    width: 10em;
    border-radius: 100%;
}

.stats {
    display: flex;
    margin: 2em 0;
    justify-content: space-between;
}